@import url("https://fonts.googleapis.com/css2?family=Mali&display=swap");

body {
  font-family: "Mali", cursive;
  background: url("https://i.pinimg.com/736x/90/03/99/900399cf0ff76a07a78649bcf92410a7.jpg");
  background-attachment: fixed;
}

#nameGame3 {
  text-align: center;
}

#col1 {
  padding-top: 20px;
  padding-bottom: 15px;
}

#col2 {
  border-style: solid;
  border-width: 4px;
  border-right-width: 2px;
  border-color: thistle;
  background-color: white;
  text-align: center;
  padding-top: 50px;
  padding-bottom: 50px;
}

#col3 {
  border-style: solid;
  border-width: 4px;
  border-left-width: 2px;
  border-color: #d8bfd8;
  background-color: white;
  text-align: center;
  padding-top: 50px;
  padding-bottom: 50px;
}

#col1 {
  background-color: thistle;
}

#btnLR {
  border: black;
  margin-top: 20px;
  background-color: #dabfd7;
  color: black;
}

#btnLR:hover {
  background-color: #d8a2d2;
  color: black;
}
