body{
  font-size: 20px;
  font-family: monospace;
  font-family: "Mali", cursive;
  background: url("https://i.pinimg.com/originals/47/9a/2e/479a2e364dcdc8636dd86b231350b35f.jpg");
  background-attachment: fixed;
}

#container{
  margin : 20px auto;
  height: 700px;
  width : 75%;
  border-radius: 5px;
  box-shadow: 0px 5px 15px 0px;
  position: relative;
}
#start{
  font-size: 2.5em;
  font-weight: bolder;
  word-break: break-all;
  width:550px;
  height:90px;
  border : 2px solid mediumvioletred;
  text-align: center;
  cursor: pointer;
  position: absolute;
  left:350px;
  top:410px;
  color : mediumvioletred;
}
#start:hover{
  border: 3px solid red;
  color : red;
}

#qImg{
  width : 600px;
  height : 300px;
  position: absolute;
  left : 20%;
  top : 40px;
  border: 1px solid black;
}
#qImg img{
  width : 600px;
  height : 300px;
  border-top-left-radius: 5px;
}

#question{
  width:500px;
  height : 125px;
  position: absolute;
  right:0;
  top:0;
}
#question p{
  margin : 0;
  padding : 15px;
  font-size: 1.25em;
}

#choices{
  width : 480px;
  position: absolute;
  top : 400px;
  left : 30%;
  padding : 10px
}
.choice{
  display: inline-block;
  width : 135px;
  text-align: center;
  border-radius: 5px;
  cursor: pointer;
  padding : 5px;
  color : black;
  border : 2px solid white;
  background-color: lightskyblue;
}
.choice:hover{
  border : 2px solid white;
  font-weight: bold;
  color : white;
  background-color: rgb(0, 0, 121);
}

#timer{
  position: absolute;
  height : 150px;
  width : 300px;
  bottom : 0px;
  text-align: center;
}
#menugame {
  width : 700px;
  position: absolute;
  top : 600px;
  left : 25%;
  padding : 5px
}
#counter{
  font-size: 3em;
}
#btimeGauge{
  width : 150px;
  height : 10px;
  border-radius: 10px;
  background-color: lightgray;
  margin-left : 25px;
}
#timeGauge{
  height : 10px;
  border-radius: 10px;
  background-color: green;
  margin-top : -10px;
  margin-left : 25px;
}
#progress{
  width : 600px;
  position: absolute;
  bottom : 0px;
  right : 0px;
  padding:5px;
  text-align: right;
}
.prog{
  width : 25px;
  height : 25px;
  border: 1px solid #000;
  display: inline-block;
  border-radius: 50%;
  margin-left : 5px;
  margin-right : 5px;
}
#scoreContainer{
  margin : 20px auto;
  background-color: white;
  opacity: 0.95;
  height: 400px;
  width : 700px;
  border-radius: 5px;
  box-shadow: 0px 5px 15px 0px;
  position: relative;
  display: none;
}
#scoreContainer img{
  position: absolute;
  top:100px;
  left:325px;
}
#scoreContainer p{
  position: absolute;
  display: block;
  width : 59px;
  height :59px;
  top:160px;
  left:325px;
  font-size: 1.5em;
  font-weight: bold;
  text-align: center;
}
.newgame1{
  font-size: 16px;
  text-align: center;
}


















