@import url("https://fonts.googleapis.com/css2?family=Mali&display=swap");

body{
    background: url("https://us-fbcloud.net/picpost/data/298/298515-qgas3t-0.n.jpg");
    font-family: "Mali", cursive;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}
h1,h2,img,.textcenter{
  text-align: center;
}
a {
  border: 5ch;
  border-left: 15ch;
  border-right: 15ch;
  background-color: tomato;

}
.img1 {
  width: 60%;
  height: 40%;
  text-align: center;
  border: 5px solid #8F5E53;
  border-radius: 4px;
  padding: 5px;
  margin: 12px;
}
.gametitle{
  background-color: #ca8fbd ;
  border: 5px solid #d8e5f5;
}
.textcenter {
  text-align: center;
}
.btns{
  display: flex;
  align-items: flex-start;
  justify-content: space-evenly;
}
.img2 {
  width: 50%;
  height: 25%;
  text-align: center;
  border: 5px solid #8F5E53;
  border-radius: 4px;
  padding: 5px;
  margin: 12px;
}
#board{
  width: 60%;
  height: 40%;
  text-align: center;
  border: 5px solid #8F5E53;
  border-radius: 4px;
  padding: 5px;
  padding-top: 50px;
  margin: 12px;
  margin-left: 300px;
}